// App common project styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.switch {
  display: inline-block;
  background: $colors__white;
  border: $border-width solid $colors__border;
  white-space: nowrap;
  padding: ($gutter / 4) ($gutter / 2);

  > li {
    display: inline-block;
    @include text($font-size--normal, $font-weight__sans__regular);

    a {
      @include link__color($colors__primary, darken($colors__primary, $fade--percent));
    }

    // слэш между вариантами
    &:not(:last-child) {
      &:after {
        margin-left: $gutter / 4;
        margin-right: $gutter / 4;
        text-align: center;
        content: " / ";
      }
    }
  }

  // отступ между переключателями
  & + .switch {
    margin-left: $gutter;
  }
}
